/* ============================================= */


/*             Grid Setup                      */


/* ============================================= */

.container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: minmax(20px, 50px) 1fr minmax(20px, 50px);
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "h h h h h h" "m m m m m m" "f f f f f f";
}

header {
    grid-area: h;
}

main {
    grid-area: m;
    width: 100%;
    max-width: 1028px;
    justify-self: center;
    align-self: center;
}

footer {
    grid-area: f;
}


/* Image Gallery */

.gallery-container {
    width: 100%;
    height: 100%;
    max-width: 1028px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
    grid-gap: 20px;
    margin: 20px auto;
    justify-content: center;
    &-img {
        text-align: center;
        max-width: 200px;
        max-height: 200px;
    }
    &-thumbnail {
        width: 100%;
        height: 100%;
    }
}