/* ============================================= */


/*             Grid Setup                      */


/* ============================================= */

.container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    grid-template-areas: "header" "main" "footer";
    max-width: 1028px;
    margin: auto;
    align-items: center;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}


/* Image Gallery */

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-gap: 20px;
    margin: 20px auto;
    justify-content: center;
    &-img {
        text-align: center;
        max-width: 200px;
        max-height: 200px;
    }
    &-thumbnail {
        width: 100%;
        height: 100%;
    }
}