@import "normalize";

/* ============================================= */


/*              Base styles                      */


/* ============================================= */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: $body-background-color;
}

main {
    background-color: $main-background-color;
    padding: 1.5rem;
}

a {
    text-decoration: none;
}